.navbar {
  padding: 20px;
  background-color: $white;
}

.nav-link{
    font-family: $ptmono;
    font-size: $medium;
    margin-left: 35px;
}

.navbar__img {
  width: 29px;
  height: 47px;
  margin-left: 58px;
}
