.button{    
    background-color: coral;
    padding: 5px;
    color: white;
    border: 0;

}

.newsletter__input{
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 0px;
}