
.navbar_img{
    width: 2rem;
}

.nav_link {
  font-family: $poppins;
  font-size: $medium;
  padding: 0em 0.5em;
}

.navbar-nav 
    .nav-item{
        .nav_link {
            color: $white; 
    } 
}

.navbar-nav .nav-item.active .nav_link,
.navbar-nav .nav-item:hover .nav_link {
  color: $orange;
}


.navbar__icon{
    color: $white;

    &:active,
    &:hover{
        color: $orange;
    }
}
