.btn{
    font-family: $ptmono;
    font-size: $medium;
    border-radius: 0px;
}

.iniciar {
  color: $Spanishgray;
  background-color: $white;
  margin-right: 2em;
}

.registro {
  background-color: $Shinyshamrock;
  color: $white;
  margin-right: 4em;
}
