.navigation {
  width: 100%;
  margin: 0 auto;
}

.navigation__menu {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.navigation__logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.navigation__nav {
  display: inline-block;
  text-align: right;
  width: 90%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

.navigation__item {
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  float: left;

  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;

    &:hover {
      color: #000;
    }
  }
}

.navigattion__button--input {
  border-radius: 30px;
  margin-top: 7px;
}


@media (max-width: $md) {
  .navigation__nav {
    width: 50%;

    li {
      width: 25%;
    }
  }
  .navigation__nav ul li a {
    font-size: 0.8rem;
  }
  .navigattion__button--input {
    margin-left: 2rem;
    width: 8rem;
    font-size: 0.8rem;
  }
  .navigation .navigation__nav li:first-child {
    display: none;
  }
}

