// esquema de colores

// primer esquema de color
$white: #fff;
$snow: #fafafa;
$Quicksilver: #a0a0a0;

// segundo esquema de color
$Jelly-Bean: #e56353;
$Salmon: #e97f72;
$Pastel-pink: #f0a9a1;

// tercer esquema de color
$Granite-Gray: #686963;
$Taupe-Gray: #91918d;
$Gray: #babab8;

// tipografia
$Raleway: 'Raleway', sans-serif;

$Bold: 700;
$Regular: 400;
$Extra-light: 200;

// tamaños de fuentes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
